# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
package-lock.json
.DS_Store
Thumbs.db
/.cache/content-v2/sha512/3d/11/aa3d7e3c0814429be5222e84f3cad0e5ec747dcabea6bc6db87af141f3f4507358f0214b3269a19e5ef4c4a41096b7f11f813b115ebbe30aa1394a86db9d
/.cache/
/build/
/public/build/
