<form (submit)="submitHandler($event)" [formGroup]="form" id="new-task-form">
  <p>
    <label for="title">Title</label>
    <input formControlName="title" id="title" type="text"/>
  </p>
  <p>
    <label for="summary">Summary</label>
    <textarea formControlName="summary" id="summary" rows="5"></textarea>
  </p>
  <p>
    <label for="category">Category</label>
    <select formControlName="category" id="category">
      <option value="urgent">🚨 Urgent</option>
      <option value="important">🔴 Important</option>
      <option value="moderate">🔵 Moderate</option>
      <option value="low">🟢 Low</option>
    </select>
  </p>
  @if (invalidForm()) {
    <p class="error-message">
      Please provide values for task title, summary and category!
    </p>
  }
  <p class="actions">
    <button (click)="cancel.emit()" type="button">Cancel</button>
    <button type="submit">Add Task</button>
  </p>
</form>
